.App {
    height: 100vh;
    background: rgb(255, 219, 126);
    background: radial-gradient(circle,
            rgba(255, 219, 126, 1) 0%,
            rgba(255, 122, 0, 1) 100%);

}

body {
    margin: 0;
}